<mat-toolbar>Registro de Consulta Especial</mat-toolbar>

<form class="example-container" [formGroup]="form" (ngSubmit)="aceptar()" #signoForm="ngForm">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <div class="new">
    <mat-form-field>
        <input type="text"  placeholder="Paciente" matInput [matAutocomplete]="autoPaciente"
            [formControl]="myControlPaciente" formControlName="paciente" >
    </mat-form-field>
    <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="mostrarPaciente" 
        (optionSelected)="seleccionarPaciente($event)">
        <mat-option *ngFor="let p of pacientesFiltrados | async" [value]="p">
            {{ p.nombres }} {{p.apellidos}}
        </mat-option>
    </mat-autocomplete>

    <button mat-icon-button color="warn" aria-label="Nuevo Paciente">
        <mat-icon>add_box</mat-icon>
      </button>

    <br>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha" [max]="maxFecha"
            formControlName="fecha" [(ngModel)]="fechaSeleccionada">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
    <br>
    <mat-form-field>
        <input matInput placeholder="Temperatura"  formControlName="temperatura">
        <small *ngIf="f.temperatura.errors?.required && f.temperatura.touched" class="invalido">Temperatura es requerido</small>
        <small *ngIf="f.temperatura.errors?.minlength" class="invalido">El campo debe ser mayor a 3 caracteres</small>
    </mat-form-field>
    
    <br>
    <mat-form-field>
        <input matInput placeholder="Pulso"  formControlName="pulso">
        <small *ngIf="f.pulso.errors?.required && f.pulso.touched" class="invalido">Pulso es requerido</small>
    </mat-form-field>
    <br>

    <mat-form-field>
        <input matInput placeholder="Ritmo Respiratorio"  formControlName="ritmoRespiratorio">
        <small *ngIf="f.ritmoRespiratorio.errors?.required && f.ritmoRespiratorio.touched" class="invalido">Ritmo Respiratorio es requerido</small>
        
    </mat-form-field>
    <br>

    <button mat-raised-button color="primary" type="submit" [disabled]="signoForm.invalid || estadoBotonRegistrar()">
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/signo' type="button">
        <span>Cancelar</span>
    </button>

</form>


